*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgba(255, 0, 0, 0.5),rgba(255, 255, 255, 0.5)), url(Images/banner.jpg);
}
nav img{
    width: 50%;
}
nav h1{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.links h1{
    font-size: 40px;
    font-weight: 600;
}

.links ul li a{
    color: black;
    text-decoration: none;
    font-size: 25px;
}
.links{
    background: rgba(255, 2, 2, 0.788);
    min-height: 69vh;
    height: 100%;
    max-width: 600px;
    flex: 1;
    text-align: left;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}
.find h1{
    font-size: 40px;
    font-weight: 600;
}
.find ul li{
    display: block;
    padding: 8px 12px;
    position: relative;
    justify-content: space-between;
}
.find{
    background: rgba(255, 2, 2, 0.788);
    min-height: 69vh;
    height: 100%;
    flex: 1;
    max-width: 600px;
    text-align: right;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
}
@media(max-width:900px){
    .contact{
        display: block;
    }
    nav{
        display: block;
        padding: 2% 6%;
        justify-content: space-between;
        align-items: center;
    }
    nav img{
        width: 50%;
    }
    nav h1{
        font-size: 50px;
        font-weight: 600;
        text-align: center;
    }
}